.mainProduct {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0% 3% 0%;

    h1 {
        font-family: $tipografia;
        font-weight: 200;
    }

    img {
        margin-top: 10%;
    }

    p {
        font-family: $tipografia;
        font-size: 130%;
        margin: 8% 0% 8% 0%;
    }

    .price {
        color: $color3;
        font-weight: 600;
        margin-bottom: 17%;
    }

    .btn {
        font-size: 110%;
        background-color: $color3;
        border: none;
        
        &:focus {
            box-shadow: none;
        }

        &:valid {
            border-color: black;
            background-color: $color3;
        }
    }

    .btn-primary {
        &:hover {
            background-color: $color2;
        }
    }
}