.mainCart {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0% 3% 0%;

    h1 {
        font-family: $tipografia;
        font-weight: 200;
    }

    .mainCartProducts {
        font-family: $tipografia;
        margin-top: 10%;

        .card {
            .card-body {
                h5 {
                    font-size: 120%;
                }

                .price {
                    font-size: 120%;
                    color: $color3;
                }

                p {
                    margin: 10% 0% 10% 0%;
                }

                .btn {
                    font-size: 90%;
                    background-color: $color3;
                    border: none;
                    
                    &:focus {
                        box-shadow: none;
                    }

                    &:valid {
                        border-color: black;
                        background-color: $color3;
                    }

                    &:hover {
                        background-color: $color2;
                    }
                }
            }
        }

        strong {
            color: $color3;
        }
    }

    .formInfo {
        color: $color3;
        font-weight: 600;
        margin: 5% 0% 0% 0%;
    }

    .formInfo2 {
        color: $color3;
        font-weight: 400;
        margin: 10% 0% 10% 0%;
    }

    .btn {
        font-size: 100%;
        background-color: $color3;
        border: none;
        
        &:focus {
            box-shadow: none;
        }

        &:valid {
            border-color: black;
            background-color: $color3;
        }
    }

    .btn-primary {
        &:hover {
            background-color: $color2;
        }
    }
}
