.mainUser {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0% 3% 0%;

    h1 {
        font-family: $tipografia;
        font-weight: 200;
    }

    h2 {
        font-family: $tipografia;
        margin-top: 5%;
        font-size: 110%;
        font-weight: 200;
    }

    p {
        font-family: $tipografia;
        margin: 5% 0% 5% 0%;
    }

    strong {
        font-size: 100%;
        color: $color3;
    }

    
    a {
        font-family: $tipografia;
        font-size: 100%;
        color: $color3;
        
        &:hover {
            color: $color2;
        }
    }

    .btn {
        color: white;
        font-size: 100%;
        background-color: $color3;
        border: none;
        
        &:focus {
            box-shadow: none;
        }
    
        &:valid {
            color: white;
            border-color: black;
            background-color: $color3;
        }
    }
    
    .btn-primary {
        &:hover {
            color: white;
            background-color: $color2;
        }
    }

    .formInfo {
        color: $color3;
        font-weight: 600;
        margin-top: 5%;
    }
}