.mainProduct {
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 3% 0% 3% 0%;

    h1 {
        font-family: $tipografia;
        font-weight: 200;
    }

    .formInfo {
        color: $color3;
        font-weight: 600;
        margin-top: 5%;
        font-size: 100%;
    }

    .formInfo2 {
        margin-top: 3% !important;
        font-weight: 200;
        margin-top: 5%;
    }

    img {
        margin-top: 3%;
        width: 50%;
    }

    p {
        font-family: $tipografia;
        font-size: 130%;
        margin: 2% 0% 2% 0%;
    }

    .price {
        color: $color3;
        font-weight: 600;
        margin-bottom: 2%;
    }

    .btn {
        font-size: 110%;
        background-color: $color3;
        border: none;
        
        &:focus {
            box-shadow: none;
        }

        &:valid {
            border-color: black;
            background-color: $color3;
        }
    }

    .btn-primary {
        &:hover {
            background-color: $color2;
        }
    }
}