<header>
    {{> header}}
    {{> loginHeader}}
</header>

<main>
    <div class="main404NotFound">
        <h1>ERROR 404! PÁGINA NO ENCONTRADA</h1>

        <p><a href="/api/products">VOLVER AL INICIO</a></p>

        <img src="/static/images/404Error.png" alt="404NotFound">
    </div>
</main>