<header>
    {{> header}}
    {{> loginHeader}}
</header>

<main>
    <div class="mainForgotPassword">
        <h1>OLVIDASTE TU CONTRASEÑA?</h1>

        <p class="forgotInfo">Ingresá el mail con el que te registraste, para poder restablecerla!</p>
        
        {{#if noUser}}
            <p class="formInfo">NO HAY USUARIOS CON EL EMAIL INGRESADO, PROBÁ REGISTRÁNDOTE <a href="/api/sessions/register">AQUÍ</a>!!</p>
        {{/if}}

        {{#if emailSent}}
            <p class="formInfo">SE ENVIÓ UN EMAIL PARA RESTABLECER LA CONTRASEÑA AL EMAIL INGRESADO!!</p>
        {{/if}}

        <form id="cookieForm" action="/api/sessions/forgotPassword" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        
        <p>Sabes tu contraseña? <a href="/api/sessions/login">Iniciar sesion</a></p>
    </div>
</main>
