<header>
    {{> header}}
    {{> loginHeader}}
</header>

<main>
    <div class="mainNoPermissions">
        <h1>ERROR 401! NO TENES PERMISOS PARA INGRESAR!</h1>

        <p><a href="/api/products">VOLVER AL INICIO</a></p>

        <img src="/static/images/401Error.png" alt="401NoPermissions">
    </div>
</main>