<header>
    {{> header}}
    {{> productsHeader}}
    <script src="https://js.stripe.com/v3/"></script>
</header>

<main>
    {{#if user}}
        <div class="mainPurchase">
            <h1>COMPRA FINALIZADA</h1>
            <p class="formInfo">SE ENVIÓ UN EMAIL PARA QUE PUEDAS SEGUIR EL ESTADO DE TU COMPRA!!</p>
            <img src="/static/images/purchase.jpg" alt="purchase">
        </div>
    {{/if}}
</main>
