<header>
    {{> header}}
    {{> productsHeader}}
    <script src="https://js.stripe.com/v3/"></script>
</header>

<main>
    {{#if user}}
        <div class="mainPayment">
            <h1>COMPRA FINALIZADA</h1>
            
            
        </div>
    {{/if}}
</main>
