<header>
    {{> header}}
    {{> loginHeader}}
</header>

<main>
    <div class="mainResetPassword">
        <h1>OLVIDASTE TU CONTRASEÑA?</h1>

        <p>Ingresá tu nueva contraseña!</p>

        {{#if noToken}}
            <p class="formInfo">EL LINK YA NO ES VÁLIDO PORQUE PASÓ DEMASIADO TIEMPO!!</p>
        {{/if}}

        {{#if noPassword}}
            <p class="formInfo">DEBE INGRESAR UNA CONTRASEÑA VÁLIDA!!</p>
        {{/if}}

        {{#if actualPassword}}
            <p class="formInfo">LA CONTRASEÑA NO PUEDE SER IGUAL A LA ACTUAL!!</p>
        {{/if}}

        {{#if passwordModified}}
            <p class="formInfo">LA CONTRASEÑA FUE MODIFICADA EXITOSAMENTE!!</p>
        {{/if}}

        <form id="cookieForm" action="/api/sessions/resetPassword?token={{token}}" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <p>Sabes tu contraseña? <a href="/api/sessions/login">Iniciar sesion</a></p>
    </div>
</main>
