// Importo las tipografías
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

// Tipografías
// font-family: 'Montserrat', sans-serif;

// Variables
$tipografia: 'Montserrat', sans-serif;
$color0: white;
$color1: #F0EBE3;
$color2: #E4DCCF;
$color3: #7D9D9C;

$color4: #F2D7D9;
$color5: #D3CEDF;
$color6: #9CB4CC;
$color7: #748DA6;